<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Navigation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let c of contacts" routerLink="/contact-detail/{{c.id}}">
      <ion-avatar slot="start">
        <img src="{{c.avatar}}" />
      </ion-avatar>
      <ion-label>
        {{c.name}}
      </ion-label>
    </ion-item>
  </ion-list>

  <div style="height: 50px;"></div>
  <div class="center-wrapper">
    <ion-button color="primary" (click)="viewRandomContact()">View Contact</ion-button>
  </div>
  <div style="height: 50px;"></div>
  <div class="center-wrapper">
    <ion-button color="primary" (click)="startPushNotification()">Start Push Notification</ion-button>
  </div>
</ion-content>