<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573947756837-ulgr2n484si1j24jffc9u4li2553jqao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573947756837-ulgr2n484si1j24jffc9u4li2553jqao</string>
	<key>API_KEY</key>
	<string>AIzaSyDnh_CuDdXQN75DDXrZb9V0N4BDsE25Vuw</string>
	<key>GCM_SENDER_ID</key>
	<string>573947756837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.positivethinking.poc</string>
	<key>PROJECT_ID</key>
	<string>inonicangularpoc</string>
	<key>STORAGE_BUCKET</key>
	<string>inonicangularpoc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573947756837:ios:7c613459c2cabc9f23dacc</string>
</dict>
</plist>